#particles-js{
  position: relative;
  .banner{
    pointer-events: none;
    padding: .5rem 2rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    .content{
      display: flex;
      justify-content: space-around;
      header{

      }
      .image-container{
        max-width: 20rem;
        img{
          width: 100%;
        }
      }
    }
  }
}